header {
  display: flex;
  justify-content: center;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.main-container {
  width: 100%;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.characters__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
}

.img {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline;
  font-size: 15px;
}

.img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.characters__date {
  display: flex;
  
}

p {
  font-size: 20px; 
}

#tblEpisodes {
  justify-content: center;
  display: flex;
  font-size: 30px;
}

#backButton {
  background-image: url("src/images/Mi proyecto.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  width: 200px;
  height: 200px;
  border: none;
  text-indent: -9999px;
}









