* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; 
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(https://d2lzb5v10mb0lj.cloudfront.net/darkhorse/downloads/desktops/aorickamort/desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}


.main-container {
  width: 100%;
  margin: auto;
}

nav {
  background-color: #298176;
  display: flex;
  justify-content:center;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
  
}

.menu{
  display: flex;
  align-items: center;
  list-style: none;

}


li {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

@media (max-width: 768px) {
  .logo{
  width: 400px;
   
  }
  nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  
.menu{
  flex-direction: column;
  margin-right: 0;
  background-color: #298176;
  width: 100%;
  padding: 20px 0;
}
body {
  background-repeat: no-repeat;
  background-size: 350%;
  
}
}

.filterselect:hover {
  background-color: #5f9e25; 
}
.filterselect{
  background-color: #298176;
  font-size: x-large;
  color: rgb(225, 236, 236);
  font-weight: 600;
  border: none;
  height: 50px;
  padding: 5px;

}
.orderselect:hover{
  background-color: #5f9e25;  
}
.orderselect {
  background-color: #298176;
  font-size: x-large;
  color: rgb(241, 245, 245);
  font-weight: 600;
  border: none;
  height: 50px;
  padding: 5px;
}

.calculationselect:hover{
  background-color: #5f9e25;  
}

.calculationselect{
  background-color: #378179;
  font-size: x-large;
  color: rgb(239, 247, 247);
  font-weight: 600;
  border: none;
  height: 50px;
  padding: 5px;
}

button {
  background-color: #33867f;
  font-size: 100px;
  font-weight: 600;
  
}

option {
  background-color: #ffffff;
  color: #6aadaa; 
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 15px;
}
section{
  margin-bottom: 100px;
  
}

.characters__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
}

.img {
  width: 200px;
  height: 250px;
  margin: 10px;
  display: inline;
  font-size: 17px;
}

.img img {
  width: 180px;
  height: 200px;
  object-fit: cover;
}

p {
  font-size: 20px;
}

#backButton {
  background-image: url("./images/Mi proyecto.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  width: 200px;
  height: 350px;
  border: none;
  text-indent: -9999px;
}

#chart-container {
  display: flex;
  justify-content: center;
  height: 600px;
  width: auto;
}

#planets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  border:4px solid #158027;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 10px 15px #000;
  justify-content: center;
  display: flex;
  align-items: center;
}

.card .front h4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, -4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #2b7036;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 10px 15px #000;
}

.card .back h4 {
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.card .back h5 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
